* {
    box-sizing: border-box;
  }

  .add-new-film {
    width: 80%;
    margin: auto;
    
  }
  
  /* Style the search field */
  form.example input[type=text], input[type=id] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    /* float: left; */
    width: 70%;
  }

  form.example input[type=text] {
    background: #f1f1f1;
  }

  form.example input[type=id] {
    background: #f5b7b7;
  }
  
  /* Style the submit button */
  form.example button {
    /* float: left; */
    margin-top: 10px;
    margin-right: 10px;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }