
* {
  box-sizing: border-box;
}

.container {
  position: center;
  margin-left: auto;
  text-align: center;
  width: 100%;
}

.sort-and-select {
  background-color: #c9a6a6;
  margin-bottom: 20px;
  width: 500px;
}

h1 {
  font-weight: 2em;
}

.films-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filmcard {
  background-color: #000000;
  border-radius: 10px;
  width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
  height: 600px;
  text-align: center;
  color: antiquewhite;
}

/* .filmcard {
  background-color: rgb(201, 153, 226);
  width: 320px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  height: 550px;
  text-align: center;
} */

.filmcard img {
  margin-bottom: 20px;
}

.sort-films {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: 50px;
}

.sort-films-date{
  width: 400px;
  margin-left: auto;
  margin-right: 50px;
}

.sort-films-date select{
  width: 300px;
  height: 30px;
  font-size: 16px;
} 

.sort-films button {
  font-size: 16px;
  cursor: pointer;
  background-color: pink;
  width: 99px;
  height: 30px;
  text-align: center;
  margin-bottom: 4px;
}

.sort-films button:hover {
  background: #7bbcf1;
}

.sort-films button:active {
  background: red
}

.button-buy-ticket {
  cursor: pointer;
  padding: 5px;
  background-color: gold;
  margin-top: 10px;
}
.iframe {
  padding: 20px;
}