* {
    box-sizing: border-box;
  }

  .login-header h3{
    font-size: 25px;
  }

  .login-header{
    margin-bottom: 50px;
  }

  .login-page {
    width: 400px;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 30px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    text-transform: uppercase;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }

  
  /* body {
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  */