* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.login input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 17px;
    border: 1px solid grey;
    /* float: left; */
    width: 30%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.login button {
    /* float: left; */
    margin-top: 10px;
    margin-right: 10px;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.login button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.login::after {
    content: "";
    clear: both;
    display: table;
  }