/* --------------- Sign up page --------------- */

.addUser {
  width: 37%;
  position: relative;
  margin: auto;
  padding: 0.5em 1em;
  border: solid 2px whitesmoke;
  border-radius: 8px;
  margin-top: 1em;
  font-size: 16px;
}
 
.addUser h1 {
  position: absolute;
  display: inline-block;
  top: -40px;
  padding: 0 9px;
  line-height: 1;
  font-size: 30px;
  background: #FFF;
  color: gray;
  font-weight: bold;
}

.addUser p {
  margin: 0;
  padding: 0;
}

.addUser input[type="name"], .addUser input[type="email"],.addUser input[type="password"]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 16px;
}

.addUser input:focus {
  background-color: #ddd;
  outline: none;
}

.addUser span{
  font-size: 16px;
  color: darkblue;
  margin-bottom: 10px;

}

.addUser hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.addUser button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
}

.addUser button:hover {
  opacity: 1;
}

@media screen and (max-width: 300px) {
  .addUser {
    width: 100%;
  }
}
 