
@import './ticketStyle.css';
@import './addNewFilm.css';
@import "./ticketStyle.css";
@import "./signupStyle.css";
@import "./seatStyle.css";
@import "./ticketTypeStyle.css";
@import "./login.css";
@import "./films.css";
@import "./cinemania.css";
@import "./mypage.css";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: #BFBFBF;
}

main {
  padding: 20px;
}

.title {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-size: 4em;
}

a {
  cursor: pointer;
}

#meny-rad {
  top: 0px;
  text-align: center;
  padding: 40px;
  background-color:#212121;
  /* position: fixed; */
  width: 100%;
}

#meny-rad a {
  color: white;
  text-decoration: none;
  font-size: 38px;
  margin: 0 20px;
}

