/*-------------------- Ticket CSS  -------------------- */


#ticketList {
  box-shadow: 5px 10px 18px rgb(110, 110, 110);
}
.screen-box {
  display: flex;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-weight: bold;
}

.active,
.screen-box:hover {
  background-color: #ccc;
  transition-duration: 500ms;
}

.screencontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.5s ease-out;
  
}

.screening:hover {
  background-color: #ccc; 
  padding-left: 20px;
  transition-duration: 500ms;
  cursor: pointer;
}
.screening {
  transition-duration: 500ms;
  display: grid;
  grid-template-columns: repeat(2, 17%);
  grid-template-rows: repeat(2, 65px);
}

.screen-time, .screen-salon , .screen-date, .screen-endtime {
  align-self: center;
  text-align: center;
  margin: 0px;
}
.screen-time {
  font-size: 15px;
  margin: -27px;
}

.screen-salon {
  font-size: 20px;
  font-weight: bold;
}

.screen-date {
  font-size: 20px;
  font-weight: bold;
}

.screen-endtime {
  font-size: 15px;
  margin: -27px;
}

.screen-ticket-left{
  margin-left: 9%;
}

.ticket-movie-title {
  align-self: center;
  font-size: 1em;
  width: 100%;
  padding-left: 3%;
}

.ticket-movie-poster {
  width: 10%;
  height: 100%;
  background-size: contain;
}

@media only screen and (max-width: 600px) {
  .screening {
    grid-template-columns: repeat(2, 40%);
  }

  .screen-time, .screen-endtime {
    margin: 0;
  }

  .screen-date {
    font-size: 17px;
  }
  .ticket-movie-poster {
    width: 28%;
  }
}